{% extends 'base-dashboard.html.twig' %}
{% block title %}Editar IP{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><i class="far fa-file"></i> Editar IP</a></li>
        </ol>
    </nav>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4><strong>Editar</strong> IP</h4>
            </div>
            {{ include('tablaip/_form.html.twig', {'button_label': 'Editar IP'}) }}
        </div>
    </div>
{% endblock %}