<section class="py-0 circle-blend circle-blend-right circle-warning" id="service">

        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xxl-5 mx-auto text-center py-7">
                    <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">Service</h5>
                    <p class="mb-0">We offer youth with chances for career development in their practice. We also support a wide range of services to ensure client satisfaction</p>
                </div>
            </div>
            <div class="bg-holder" style="background-image:url({{ asset('page/portada/public/assets/img/illustrations/service.png') }});background-position:bottom center;background-size:contain;">
            </div>
            <!--/.bg-holder-->

            <div class="row flex-center">
                <div class="col-xl-9">
                    <div class="row justify-content-center circle">
                        <div class="col-md-4 mb-4">
                            <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                                <div class="text-center"><img class="my-5" src="{{ asset('page/portada/public/assets/img/icons/text.png') }}" width="100" alt="services" />
                                    <div class="card-body text-center text-md-start">
                                        <h6 class="fw-bold fs-1">Send Texts Instantly</h6>
                                        <p class="mt-3 mb-md-0 mb-lg-3">Financial planning, forecasting and adjusting rapidly with customer demands and budgets.</p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#" role="button">Learn more
                                            <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                                <div class="text-center"><img class="my-5" src="{{ asset('page/portada/public/assets/img/icons/organized.png') }}" width="100" alt="services" />
                                    <div class="card-body text-center text-md-start">
                                        <h6 class="fw-bold fs-1">Better Organized</h6>
                                        <p class="mt-3 mb-md-0 mb-lg-3">Latest technology and experienced guidance, trained HR specialists to keep updated.</p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#" role="button">Learn more
                                            <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-4">
                            <div class="card card-bg h-100 px-4 px-md-2 px-lg-3 px-xxl-4 pt-4">
                                <div class="text-center"><img class="my-5" src="{{ asset('page/portada/public/assets/img/icons/statistics.png') }}" width="100" alt="services" />
                                    <div class="card-body text-center text-md-start">
                                        <h6 class="fw-bold fs-1">Analytical Statistics</h6>
                                        <p class="mt-3 mb-md-0 mb-lg-3">Messages, real-time reminders, memos, and many more will keep your team in sync.</p><a class="btn btn-lg ps-0 pe-3 text-primary" href="#" role="button">Learn more
                                            <svg class="bi bi-arrow-right-short" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"></path>
                                            </svg></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>