
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> phpstorm configuration ###
/.idea
.idea/
.idea
.idea/workspace.xml
.idea/Sabio.iml
###< phpstorm configuration ###

###> uploads files ###
/public/uploads/
###< uploads files ###