{% extends 'base-dashboard.html.twig' %}
{% block title %}A침adir Tipo Medio{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('datos_general') }}"><i class="far fa-file"></i> Datos Generales</a></li>
            <li class="breadcrumb-item"><a href="#"><i class="far fa-file"></i> Medios Tecnol칩gicos</a></li>
            <li class="breadcrumb-item"><a href="{{ path('tipomedio_index') }}"><i class="far fa-file"></i> Listado Tipos Medios</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-list"></i> A침adir Tipo Medio</li>
        </ol>
    </nav>

    <div class="col-12">
       <div class="card">
          <div class="card-header">
             <h4><strong>A침adir</strong> Tipo Medio</h3></h4>
           </div>
           {{ include('tipomedio/_form.html.twig') }}
       </div>
    </div>
{% endblock %}