{% extends 'base-dashboard.html.twig' %}
{% block title %}Editar País{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-list"></i> Editar País</li>
        </ol>
    </nav>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4><strong>Editar</strong> País</h4>
            </div>
            {{ include('pais/_form.html.twig', {'button_label': 'Editar País'}) }}
        </div>
    </div>
{% endblock %}