<div class="form-row">
    <div class="form-group col-md-12">
        <label class="col-form-label">Categoría Plato <span class="required">*</span> :</label>
           {{ form_widget(form.name, { 'attr': { 'class': 'form-control', 'readonly':'readonly' } }) }}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
</div>