{% extends 'base-dashboard.html.twig' %}
{% block title %}Editar Marca{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('dashboard') }}"><i class="fas fa-tachometer-alt"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('datos_general') }}"><i class="far fa-file"></i> Datos Generales</a></li>
            <li class="breadcrumb-item"><a href="#"><i class="far fa-file"></i> Medios Tecnológicos</a></li>
            <li class="breadcrumb-item"><a href="{{ path('marca_index') }}"><i class="far fa-file"></i> Listado Marcas</a></li>
            <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-list"></i> Editar Marcas</li>
        </ol>
    </nav>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4><strong>Editar</strong> Marca</h3></h4>
            </div>
            {{ include('marca/_form.html.twig', {'button_label': 'Editar Marca'}) }}
        </div>
    </div>
{% endblock %}