{% extends 'base-dashboard.html.twig' %}
{% block title %}Añadir Incidencias{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-list"></i> Añadir Incidencias</li>
        </ol>
    </nav>

    <div class="col-12">
       <div class="card">
          <div class="card-header">
             <h4><strong>Añadir</strong> Incidencias</h4>
           </div>
           {{ include('incidencias/_form.html.twig') }}
       </div>
    </div>
{% endblock %}