{% extends 'base-dashboard.html.twig' %}
{% block title %}Añadir Provincia{% endblock %}
{% block head %}
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('page/dashboard/assets/bundles/select2/dist/css/select2.min.css') }}">
{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-list"></i> Añadir Provincia</li>
        </ol>
    </nav>

    <div class="col-12">
       <div class="card">
          <div class="card-header">
             <h4><strong>Añadir</strong> Provincia</h4>
           </div>
           {{ include('provincia/_form.html.twig') }}
       </div>
    </div>
{% endblock %}
{% block javascript %}
    <!-- Select2 -->
    <script src="{{ asset('page/dashboard/assets/bundles/select2/dist/js/select2.full.min.js') }}"></script>
    <script src="{{ asset('page/dashboard/assets/js/page/forms-advanced-forms.js') }}"></script>
{% endblock %}