{% extends 'base-dashboard.html.twig' %}
{% block title %}Editar Sistema M贸dulo{% endblock %}
{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-list"></i> Editar Sistema M贸dulo</li>
        </ol>
    </nav>

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4><strong>Editar</strong> Sistema M贸dulo</h4>
            </div>
            {{ include('sistemamodulo/_form.html.twig', {'button_label': 'Editar Sistema M贸dulo'}) }}
        </div>
    </div>
{% endblock %}